@import '../variables';
@import '../mixins';

// generate a general style to start with::after
body {
@include center-elements-column($gap-size);
width: $body-width;
height: $body-height;
background-color: $over-all-color;
}