<div class="form-container comments" *ngIf="comments().length > 0">
  <h3>Comments</h3>

  <div *ngFor="let c of comments()">
    <p><strong>{{ c.author.nickname }}</strong> - {{ c.createdAt }}</p>
    <span>{{ c.content }}</span>
    <p>{{ c.createdAt }}</p>
    <hr />
  </div>

<div class="pagination" *ngIf="comments().length > 0">
  <button (click)="prevPage()" [disabled]="page() === 0">
    ⏪ Previous
  </button>

  <span>Page {{ page() + 1 }} / {{ totalPages() }}</span>

  <button (click)="nextPage()" [disabled]="lastPage()">
    Next ⏩
  </button>
</div>
</div>
