<nav class="header">
  <!--Not logged in-->
  <ng-container *ngIf="!isLoggedIn()">

    <div class="first-nav-section">
      <a class="clickable link" routerLink="/" (click)="goHome()">
        <span class="blog-icon"></span>
        01 Blog
      </a>
    </div>

    <div class="second-nav-section">
      <a class="clickable link" routerLink="/login" (click)="login()">Login</a>
      <a class="clickable link" routerLink="/register" (click)="register()">Register</a>
    </div>
  </ng-container>

  <!--Logged in-->
  <ng-container *ngIf="isLoggedIn()">
    <div class="first-nav-section">
      <a class="clickable link" routerLink="/" (click)="goHome()">
        <span class="blog-icon"></span>
        01 Blog
      </a>
      <a class="clickable link" (click)="goToUsersOrReports()">

        @if (!isAdmin()) {
        <span class="users-icon"></span>
        }

        @if (isAdmin()) {
        <span class="reports-icon"></span>
        }

        {{ isAdmin() ? ('reports: ' + reportsNumber()) : 'users' }}
      </a>

      <a *ngIf="isAdmin()" class="clickable link" (click)="goToFeed()">
        <span class="posts-icon"></span>
        <span>posts</span>
      </a>

    </div>
    <div class="second-nav-section">
      <a class="clickable link" (click)="goToProfile()">
        <span class="profile-icon"></span>
        <span>{{ user()?.user?.nickname }}</span>
      </a>
      <button class="logout-btn" (click)="logout()"></button>
    </div>
  </ng-container>
</nav>