<nav class="nav-container">
  <!--Not logged in-->
  <ng-container *ngIf="!isLoggedIn()">
    <div class="nav-section">
      <a class="clickable" routerLink="/" (click)="goHome()">01 Blog</a>
    </div>
    <div class="nav-section">
      <a class="clickable" routerLink="/login" (click)="login()">Login</a>
      <a class="clickable" routerLink="/register" (click)="register()">Register</a>
    </div>
  </ng-container>

  <!--Logged in-->
  <ng-container *ngIf="isLoggedIn()">
    <div class="nav-section">
      <a class="clickable" routerLink="/" (click)="goHome()">01 Blog</a>
    </div>
    <div class="nav-section">
      <a class="clickable" (click)="goToUsersOrReports()">
        {{ isAdmin() ? ('reports: ' + reportsNumber()) : 'users' }}
      </a>
    </div>
    <div class="nav-section">
      <a class="clickable" (click)="goToProfile()">Profile <span>{{ user()?.user?.nickname }}
        </span></a>
      <button (click)="logout()">Logout</button>
    </div>
  </ng-container>
</nav>