@use '../../../styles/mixins' as mixins;
@use '../../../styles/variables' as variables;

.post-form {

  // container styles go here
  @include mixins.center-elements-column(variables.$gap-size);
  width: variables.$form-width;

  input {
    // general input styles
    width: variables.$input-width;
  }

  textarea {
    // textarea styles
    width: variables.$input-width;
  }

  select {
    // select styles
    width: variables.$input-width;
  }

  span {
    // filename display
    width: variables.$span-width;
  }

  button {
    // submit button styles
    width: variables.$button-width;

    &:disabled {
      // disabled state
      @include mixins.disabled-state;
    }
  }

  // validation messages
  div.ng-invalid.ng-touched {
    // error styles
    color: red;
    font-size: variables.$er-font;
  }
}
