// MIXINS
// Reusable style blocks.
// Example: flex centering, responsive breakpoints.

/*                              ======================================
                                                Header
                                ======================================
*/
@mixin header-flex-center-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin header-flex-center-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@mixin header-flex-center-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

/*                              ======================================
                                                body
                                ======================================
*/

@mixin center-elements-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}