// VARIABLES
// Store all design tokens here:
// colors, spacing, fonts, z-index, breakpoints, etc.
// This file should NOT output CSS.
/*                              ======================================
                                                Header
                                ======================================
*/

// colors.
$header-primary-color: #222221;
$header-secondary-color: #424242;
$header-font-color: #fff;
$header-hover-font-color: #30994d;

// Height and width.
$header-height: 2vh;
$header-width: 100vw;
$icon-size:26px;


$header-padding:2vw;
$header-links-margin:2vmin;
$nav-section-width:50%;
$header-gap:2vw;

// Font
$header-font-family: 'Nunito';

// Body.
$initial-background-color: linear-gradient(180deg, #3b3b3b, #111112);