<div class="search-bar">
  <input
    type="text"
    placeholder="Search users..."
    [value]="searchTerm()"
    (input)="searchTerm.set($any($event.target).value)"
    (keyup.enter)="searchUsers()"
  />
  <button (click)="searchUsers()">Search</button>
</div>

<div *ngIf="users().length > 0" class="users-table-container">

  <table>
    <thead>
      <tr>
        <th>Avatar</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Nickname</th>
        <th>Admin</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users()">
        <td>
          <img *ngIf="user.avatar" [src]="user.avatar" alt="Avatar">
          <span *ngIf="!user.avatar">No Avatar</span>
        </td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.nickname }}</td>
        <td>{{ user.isAdmin ? 'Yes' : 'No' }}</td>
        <td>
          <button (click)="adminVisitProfile(user)">View Profile</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

  <div class="pagination">
    <button (click)="prevPage()" [disabled]="page() === 0">
       <
    </button>

    <span>Page {{ page() + 1 }} of {{ totalPages() }}</span>

    <button (click)="nextPage()" [disabled]="last()">
       >
    </button>
  </div>