<div class="dashbord">
  

  <!-- Post creation form -->
   @if(user() && !user()!.user.isAdmin){
    <h3>Dashboard</h3>
     <div *ngIf="user()">
       <app-post-form></app-post-form>
     </div>
     <hr />
   } @else {
      <h3>Posts</h3>
   }

  <!-- Posts -->
  <div *ngFor="let post of posts()" class="post-card">

    <!-- MEDIA -->
    <div class="post-media" *ngIf="post.mediaUrl">

      <!-- IMAGE -->
      <img *ngIf="post.mediaType === 'image'" [src]="post.mediaUrl" width="100%" style="object-fit: cover;" />

      <!-- VIDEO -->
      <video *ngIf="post.mediaType === 'video'" width="100%" controls>
        <source [src]="post.mediaUrl" type="video/mp4" />
        Your browser does not support the video tag.
      </video>

    </div>


    <div class="post-content">
      <span>By {{ post.user.nickName }}</span>
      <span class="post-date">{{ post.createdAt | date:'medium' }}</span>
      <h3>{{ post.title }}</h3>
      <p>{{ post.content }}</p>

      <div class="post-actions">
        <button (click)="toggleCommentForm(post.id)">Comments</button>
        <small>
          <button (click)="vote(post.id, 'like')">Like</button> {{ post.likes }}
        </small>
        <small>
          <button (click)="vote(post.id, 'dislike')">Dislike</button> {{ post.dislikes }}
        </small>
        <small *ngIf="user() && +user()!.user.id !== post.user.id">
          <button *ngIf="user()" (click)="reportPost(post.id)">report</button>
        </small>
      </div>
      <hr />
      <app-report *ngIf="postToReport() > 0 && postToReport() == post.id && user()" [postId]="post.id"
        [reporterId]="+user()!.user!.id">
      </app-report>

      <!-- Comment form -->
      <app-comment-form *ngIf="showCommentForm(post.id)" [postId]="post.id"></app-comment-form>

      <!-- Post comments -->
      <app-post-comments *ngIf="showCommentForm(post.id)" [postId]="post.id"></app-post-comments>
    </div>
  </div>

  <!-- Load more posts -->
  <div class="pagination-controls" *ngIf="posts().length > 0">
    <button (click)="prevPage()" [disabled]="currentPage() === 0">
      <!-- ⏪ Previous -->
      < </button>

        <span>Page {{ currentPage() + 1 }} / {{ totalPages() }}</span>

        <button (click)="nextPage()" [disabled]="lastPage()">
          <!-- Next ⏩ -->
          >
        </button>
  </div>
</div>
