<h1>Dashboard</h1>

<!-- Post creation form -->
<div *ngIf="user()">
  <app-post-form></app-post-form>
</div>
<hr />

<!-- Posts -->
<div *ngFor="let post of posts()" class="post-card">
  <img class="card-image" *ngIf="post.mediaUrl" [src]="post.mediaUrl" alt="Post media">
  <div class="post-content">
    <span>By {{ post.user.nickName }}</span>
    <h3>{{ post.title }}</h3>
    <p>{{ post.content }}</p>

    <div class="post-actions">
      <button (click)="toggleCommentForm(post.id)">Comments</button>
      <small>
        <button (click)="vote(post.id, 'like')">Like</button> {{ post.likes }}
      </small>
      <small>
        <button (click)="vote(post.id, 'dislike')">Dislike</button> {{ post.dislikes }}
      </small>
      <small>
        <button (click)="reportPost(post.id)">report</button>
      </small>
    </div>
    <hr />
    <app-report *ngIf="postToUpdate() > 0 && postToUpdate() == post.id"></app-report>
    <hr />
    <!-- Comment form -->
    <app-comment-form *ngIf="showCommentForm(post.id)" [postId]="post.id"></app-comment-form>
    <hr />
    <!-- Post comments -->
    <app-post-comments *ngIf="showCommentForm(post.id)" [postId]="post.id"></app-post-comments>
  </div>
</div>

<!-- Load more posts -->
<div class="pagination-controls" *ngIf="posts().length > 0">
  <button (click)="prevPage()" [disabled]="currentPage() === 0">Previous</button>
  <span>Page {{ currentPage() + 1 }} / {{ totalPages() }}</span>
  <button (click)="nextPage()" [disabled]="lastPage()">Next</button>
</div>